// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  background-image: url('/images/header5.png');
}

body > header h1 a, body>header h1 a:visited, body>header h1 a:hover { 
  color: #000;
}

body > header h2  {
  font-style: italic;
  color: #000;
}
